<?xml version="1.0" ?>
<settings>
<nickname>anonymous</nickname>
<lon>126.6402290000</lon>
<lat>45.7404070000</lat>
<alt>45.7404070000</alt>
<host>lilacsat.hit.edu.cn</host>
<back_host>localhost</back_host>
<back_host_enable>0</back_host_enable>
<port>61161</port>
<tle>http://192.168.2.200/tle.txt</tle>
</settings>
